/*--------------------Style Cart------------------------*/
.section__cart-item{
  position: relative;
  width: 100%;
 max-width: 350px;
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  transition: transform 0.3s, box-shadow 0.2s;
}


.button__cart{
  color: var(--main-color);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  
}
.countHandler{
  text-align: right;
}

.input__cart{
  padding: 6px;
  flex-grow: 1;
  width: 15%;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: var(--body-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  border-right: 1px solid #fafafa;
}
/*--------------------Style Cart------------------------*/


.cart-item__image{
  width: 100%; 
  border-radius: 1rem;
}

.cart-item__infos{
  padding: 20px;
  border-top: 1px solid #ddd;
  
}






.section__cart-item:hover{
  transform: scale(1.05);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
 
 
}


.button__add-cart:hover{
  
  transform: scale(1.1);
  background-color: var(--main-color);
  color: white;
}
/*Efeito de mudança de botão*/
/*-------------------------------------------BREAKPOINTS-----------------------------------------*/



/*For large devices*/


@media screen and (max-width:992px) {
  
  .section__cart-item{
    

   left: 0.6rem;
  }
  
  

}



/*For medium devices*/



@media screen and (max-width: 768px){
  .section__cart-item{
    
   
   left: 0.1rem;
  }
  

}

@media screen and (max-width: 680px){
  .section__cart-item{
    
   
    left: 6.5rem;
   }
   
}

@media screen and (max-width: 620px){
  .section__cart-item{
    
   
    left: 5rem;
   }
   
}
@media screen and (max-width: 576px){
  .section__cart-item{
    
   
    left: 2.5rem;
   }
   
}
@media screen and (max-width: 470px){
  .section__cart-item{
    
    
    left: 0.8rem;
   }
}
/*For small devices*/

@media screen and (max-width: 430px){
  .section__cart-item{
    
    
    left: 0rem;
   }
}

@media screen and (max-width: 420px){
  .section__cart-item{
    
    width: 90%;
    left: 1rem;
   }
}
@media screen and (max-width: 390px){
  .section__cart-item{
    
    
    left: 0.8rem;
   }
}
@media screen and (max-width: 375px){
  .section__cart-item{
    
    
    left: 0.5rem;
   }
}

@media screen and (max-width: 360px){
  .section__cart-item{
    
   width: 86%;
   left: 0.2rem;
  }
  

}

@media screen and (max-width: 350px){
  .section__cart-item{
    
    width: 70%;
    max-width: 200px;
    left: 1rem;
   }
}

