.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: var(--normal-font-size);
    background: #fff;
  
    /* Center slide text vertically */
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .star__img{
    display: block;
    width: 100%;
    height: 98%;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
    cursor: pointer;
}

.star__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-2);
   
    padding: 1rem;
   
    
}


.star__name{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-25);
    cursor: pointer;
    
}

.star__price{
    color: var(--main-color);
    cursor: pointer;
}



/*Swiper Class*/

.swiper-pagination-bullet{
    background-color: var(--main-color)!important;
    
}

.swiper-pagination-bullet-active{
    background-color: var(--main-color)!important;
    
}




/*-------------------------------------------BREAKPOINTS-----------------------------------------*/



/*For large devices*/

@media screen and (max-width:1400px) {
    
  
    .swiper {
        width: 100%;
        height: 100%;
      }
 
    .star__price,
    .star__description,
    .star__name{
        font-size: var(--tiny-font-size);
    }
 
 

 }


   /*For medium devices*/

   

   /*small devices*/

      
