.section__card{
  width: 100%;
 max-width: 350px;
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  /* Adicionei um efeito de transição para o hover */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card__image{
  width: 100%; /* Ajustei a largura para 100% */
  border-radius: 1rem;
}

.card__infos{
  padding: 20px;
  border-top: 1px solid #ddd;
  
}


.card__price{
  font-size: var(--normal-font-size);
  display: block;
  margin-bottom: var(--mb-0-25);
  color: var(--main-color);
  cursor: pointer;
}

.card__name{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  
  
}



.button__add-cart{
position: absolute;
top: 0; /* Ajustei a posição para o topo */
right: 0; /* Ajustei a posição para a direita */
width: 45px;
height: 45px;
margin: 12px 15px;
color: var(--main-color);
display: flex;
align-items: center;
justify-content: center;
border: none;
border-radius: 50px;
background-color: rgba(0, 0, 0, 0.5);
font-size: 1.5rem;
cursor: pointer;
/* Adicionei um efeito de transição para o hover */
transition: transform 0.3s, background-color 0.3s;
}


.section__card:hover{
  /* Adicionei um efeito de transformação para o hover */
  transform: scale(1.1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Adicionei um efeito de mudança de cor para o hover do botão */
.button__add-cart:hover{
  transform: scale(1.2);
  background-color: var(--main-color);
  color: white;
}

/*-------------------------------------------BREAKPOINTS-----------------------------------------*/



/*For large devices*/
@media screen and (max-width:1400px) {
  

  .card__price,
  .card__description,
  .card__name{
      font-size: var(--tiny-font-size);
  }



}
