.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: var(--normal-font-size);
    background:var(--container-color);
  
    /* Center slide text vertically */
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .game__img{
    display: block;
    width: 100%;
    height: 98%;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
    cursor: pointer;
}



.game__card{
    background-color: var(--container-color);
    border: 1px solid rgba(168, 33, 226, 0.4);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
   
    
}


.game__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-25);
    
}



/*Swiper Class*/

.swiper-pagination-bullet{
    background-color: var(--main-color)!important;
    
}

.swiper-pagination-bullet-active{
    background-color: var(--main-color)!important;
    
}



/*-------------------------------------------BREAKPOINTS-----------------------------------------*/



/*For large devices*/

@media screen and (max-width:1400px) {
    

    .swiper {
        width: 100%;
        height: 100%;
      }
 
    
    .game__description,
    .game__name{
        font-size: var(--tiny-font-size);
    }
 
 

 }


   /*For medium devices*/
 @media screen and (max-width:768px){

  .game__img{
  
    height: 95%;

}

  
 }
   

   /*small devices*/

   