.discover__card{
  padding: 12px 0 60px;
 padding-right:2rem ;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  
}

.section__title-container{
  padding: 6rem 0 0 0;
}



/*-------------------------------------------BREAKPOINTS-----------------------------------------*/




/*For medium devices*/
@media screen and (max-width: 768px){
  .discover__card{
    padding: 12px 0 60px;
   padding-right:3.5rem ;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    
  }
}






