
/* Estilos da seção principal */
.details__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--container-color);
}

.section__title {
  
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

/* Estilos do Swiper */
.swiper-container {
  width: 100%;
}

.swiper-img {
  text-align: center;
  font-size: var(--normal-font-size);
  background-color: var(--container-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.games__img {
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
  max-width: 100%;
}

/* Estilos da caixa de detalhes */
.box__details {
display: grid;
  grid-template-columns: subgrid;
  width: 80%;
  text-align: start;
  background-color: var(--container-color);
  border: 1px solid var(--main-color);
  justify-content: center;
  border-radius: 1.5rem;
  margin-bottom: var(--mb-2);
  padding: 1rem;
}

.box__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  padding-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}

.details__container {
  width: 100%;
  padding: 2rem;
  
}

.details__description {
  color: var(--container-color);
}

.details__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-25);
  cursor: pointer;
}

.details__price {
  color: var(--main-color);
  cursor: pointer;
}

/* Adicione outras regras de estilo conforme necessário */
