.loading {
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  font-size: var(--big-font-size);
  animation: spin 1s infinite linear;/* Isso garante que o spinner esteja centralizado verticalmente na tela */
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
